/*
* theme by https://wpthemespace.com/
* Author: Noot Alam
*/

body {
  font-family: "Brygada 1918", serif;
  font-size: 1.2rem;
  font-size: 18px;
  line-height: 1.4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  letter-spacing: inherit;
}
a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  color: #ba7d5c;
}
a:hover {
  color: #464646;
}
img {
  max-width: 100%;
  height: auto;
}
.bg-black {
  background: #000;
}
.text-white a {
  color: #fff;
}
input[type="search"],
input[type="email"],
input[type="url"],
input[type="text"],
select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
[type="search"]:focus,
[type="text"]:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
input[type="submit"],
button,
a#clickTop {
  border: 1px solid #ccc;
  padding: 5px 20px;
  vertical-align: middle;
  background: #ba7d5c;
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

input[type="submit"]:hover,
button:hover,
a#clickTop {
  background: #464646;
}

/*Secondery color*/

a,
.entry-meta span,
.entry-footer span,
.entry-meta a,
.ghead-meta {
  color: #ba7d5c;
}

.pagination .nav-links a:hover,
.pagination .nav-links span {
  background-color: #ba7d5c;
}

/*Primery color*/

a:hover,
.entry-meta a:hover {
  color: #464646;
}

.modal.show .modal-dialog {
  margin-bottom: 80px;
}

/*
#
# Heade style
#
*/
.header-img img {
  width: 100%;
}
.head-logo-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
}

.head-info {
  margin-left: auto;
  margin-right: 0;
}
.site-branding.brand-logo {
  margin-right: 10px;
}
.site-branding.brand-logo img {
  max-width: 250px;
  max-height: 150px;
}
.site-branding.brand-logo img {
  max-width: 250px;
  max-height: 150px;
}
/* Main Menu style */
.slicknav_menu {
  display: none;
}
.menu-bar {
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 12%);
  box-shadow: 0 0 5px rgb(0 0 0 / 12%);
  margin: 5px 0;
}

div#xshop-menu ul {
  margin: 0;
}
.main-navigation ul {
  list-style: outside none none;
  padding: 0;
  margin-bottom: 0;
}
.main-navigation ul ul {
  margin: 0;
}
.main-navigation ul li {
  display: inline-block;
  position: relative;
}
.main-navigation ul li a {
  color: #222;
  display: block;
  padding: 15px;
}
.main-navigation ul li:after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 25px;
  margin-bottom: 12.5px;
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  position: absolute;
  right: 0;
  top: 30%;
  width: 1px;
}
.main-navigation ul li:last-child:after {
  display: none;
}
.main-navigation ul li:first-child a {
  padding-left: 0;
}
/*dropdown menu*/

.main-navigation ul li ul {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 9;
  background: #fff;
  width: 250px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
  text-align: left;
  -webkit-box-shadow: 0px 5px 42px -6px rgb(92 91 92);
  box-shadow: 0px 5px 42px -6px rgb(92 91 92);
}

.main-navigation ul li ul li {
  display: block;
}

.main-navigation ul li li a,
.main-navigation ul li li:first-child a,
.main-navigation ul li li:last-child a,
.main-navigation ul li:first-child li a {
  padding: 15px;
  text-transform: none;
}

.main-navigation ul li li:after {
  bottom: auto;
  width: 100%;
  height: 1px;
  top: auto;
  margin-top: 0;
  opacity: 0.1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
}

.main-navigation ul li li:hover > a,
.main-navigation ul li li.hover > a {
  background-color: #fff;
  color: #000;
}

.main-navigation ul li:hover > a,
.main-navigation ul li:focus > a {
  color: #ccc;
}

.main-navigation ul li:hover ul,
.main-navigation ul li.hover ul {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
  top: 50px;
}

.main-navigation ul li ul ul {
  left: 250px;
}
.main-navigation ul li:hover ul li ul {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  visibility: hidden;
}
.main-navigation ul li:hover ul li:hover > ul {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  visibility: visible;
  top: 20px;
}
.main-navigation ul ul ul ul ul {
  right: 250px;
  left: auto;
}

.main-navigation ul ul ul ul ul ul ul {
  right: auto;
  left: 250px;
}

.main-navigation ul ul ul ul ul ul ul ul ul {
  left: auto;
  right: 250px;
}

.main-navigation ul ul ul ul ul ul ul ul ul ul ul {
  right: auto;
  left: 250px;
}
.main-navigation ul > li.menu-item.menu-item-has-children {
  padding-right: 15px;
}

.main-navigation ul ul li.menu-item.menu-item-has-children {
  padding-right: 0;
}
.main-navigation ul li.menu-item.menu-item-has-children > a {
  position: relative;
  z-index: 0;
}

.main-navigation ul li.menu-item.menu-item-has-children > a:after {
  position: absolute;
  top: 0;
  right: 2px;
  background: transparent;
  z-index: 99999;
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 8px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-navigation ul ul li.menu-item.menu-item-has-children > a:after {
  right: 12px;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}
html body .slicknav_menu {
  z-index: 999;
  background: #000;
}
html body .slicknav_menu .slicknav_menutxt {
  display: none;
}
html body .slicknav_menu .slicknav_nav {
  background: #000;
  min-width: 250px;
}
html body .slicknav_menu .slicknav_btn {
  border-radius: 0;
  background: #000;
}

html body .slicknav_nav a:hover,
html body .slicknav_menu .slicknav_nav a:focus,
html body .slicknav_menu .slicknav_nav a:active {
  border-radius: 0;
  background: inherit;
  color: inherit;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
ul.slicknav_nav {
  background: #000;
  min-width: 320px;
}
html body .slicknav_menu .slicknav_icon {
  margin: 0;
  width: 20px;
  height: 15px;
}
html body.admin-bar .slicknav_menu {
  top: 40px;
}
@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

/*
 #
 # Widget style
 #
 */

.widget h2,
h2.widget-title {
  font-size: 18px;
  margin-bottom: 1rem;
}

.widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.widget ul li {
  margin-bottom: 5px;
}

.widget ul li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ededed;
}

.widget ul li:last-child {
  border-bottom: 0;
}
.widget ul li a {
  color: inherit;
}

.widget ul li a:hover {
  color: #ba7d5c;
}
.widget .search-form .search-submit {
  width: 97%;
  margin-top: 5px;
}

/*
 #
 # page And post style
 #
 */
header.entry-header.page-header {
  margin-bottom: 1.5rem;
}

/*posts grid style*/
.xpost-item.shadow.pb-3.mb-5 {
  width: 100%;
}
.blog .sticky {
  background: #7798d33d;
  position: relative;
}

.blog .sticky:before {
  position: absolute;
  right: 10px;
  top: 8px;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f005";
  color: #048f02;
}
a.xshop-readmore {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  font-size: 15px;
}

a.xshop-readmore i {
  margin: 0px 0 0 6px;
  opacity: 0.7;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  vertical-align: middle;
}

a.xshop-readmore:hover i {
  margin-left: 10px;
}

.pagination .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.pagination .nav-links a,
.pagination .nav-links span {
  padding: 5px 10px;
  -webkit-box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin-right: 10px;
}

.pagination .nav-links a:hover,
.pagination .nav-links span {
  color: #fff;
}

.entry-meta a,
.entry-meta span,
.ghead-meta {
  font-size: 14px;
}
.post-thumbnail img {
  border-bottom: 1px solid #ccc;
}
section.no-results.not-found.xmain-404 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
footer.entry-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

footer.entry-footer span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ccc;
}

footer.entry-footer span,
footer.entry-footer span a {
  font-size: 14px;
}

footer.entry-footer span:last-child {
  border: none;
}
.site-info a {
  color: inherit;
}
.navigation.post-navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 20px 10px;
  margin-bottom: 3rem;
}

.navigation.post-navigation .nav-links .nav-next {
  margin-left: auto;
}

.comments-area {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.comments-area .comment-form-comment label {
  display: block;
}
.comments-area .comment-form-comment textarea {
  width: 100%;
}
/*404 style*/
.xmain-404 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.xmain-404 h1 {
  font-size: 60px;
  background: -webkit-linear-gradient(rgb(214, 3, 3), rgb(65, 9, 9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
# Footer style
*/
.site-footer {
  -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 12%);
  box-shadow: 0 0 5px rgb(0 0 0 / 12%);
}
a#clickTop {
  right: 5px !important;
}
