a.button.button-primary.get,a.button.button-primary.get:active,a.button.button-primary.get:focus,a.button.button-primary.get:hover,a.button.button-primary.get:visited{
	background:#e74c25 !important;
}
a.button.button-primary.get:hover{
	background: #000 !important;
	color: #fff !important;
}
thead.table-book {
    background: #e74c25 !important;
}
